body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    gap:4rem;
    font-family: "Space Mono", monospace;
    background-color:  hsl(185, 41%, 84%);
    color: hsl(186, 14%, 43%);
    font-weight: 700;
}

/*Styling of Card*/
.card{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    gap:2rem;
    padding: 1.5rem;
    border-radius: 8px;
}

/*Styling of Form Section*/
.form-section{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    gap:.5rem;
}

/*Tip Section of the Form*/
.select-tip{
    display: flex;
    flex-wrap: wrap;
    width: 30rem;
    gap:1rem;
}

.select-tip button, .input-tip{
    width: 9rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}

.select-tip button{
    background-color: hsl(183, 100%, 15%);
    color: white;
    border-radius: 8px;
    border: none;
}

.select-tip button:hover{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    border: none;
}


/*Styling Form inputs*/
.input-value{
    font-size: 24px;
    
    padding: 10px;
    max-width: 30rem;
    cursor: pointer;
}

input[type="number"]{
    background-color: hsl(189, 41%, 97%);
    border: none;
    font-weight: 700;
    color: hsl(183, 100%, 15%);
    font-family: "Space Mono", monospace;
    text-align: right;
    border-radius: 8px;
}

input[type="number"]:hover{
   border: 2px solid hsl(172, 67%, 45%);
}

#input-bill-amt{
    background-image: url("./images/icon-dollar.svg");
    background-repeat: no-repeat;
    background-position: 10px 12px;
}

#input-no-of-people{
    background-image: url("./images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 10px 12px;
}


/*Styling of Output section*/
.output{
    display: flex;
    flex-direction: column;
    gap:4rem;
    background-color: hsl(183, 100%, 15%);
    padding: 1.5rem;
    border-radius: 8px;
    width: 20rem;
}

.output-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.value-amt{
    color: hsl(172, 67%, 45%);
    font-size: 24px;
    font-weight: 700;
    
}

.output-heading{
    color: white;
}

/*Reset button styling*/
.reset-btn{
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

/* For Error message (No. of People)*/
.for-error{
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.error-message{
    color: rgb(255, 101, 101);
    display: none;
}

/**/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

